// Kanban
.oe_kanban_global_click {
    --KanbanRecord-padding-h: 12px;
    --KanbanRecord-padding-v: 12px;
    border-radius: 10px;
    margin: 4px 0px;
}
.o_kanban_renderer .o_kanban_record > div:not(.o_dropdown_kanban) {
    &:hover {
        border: 1px solid var(--primary);
        transition: all 0.5s;
    }
}

// Navbar menu with dropdown
.o-dropdown.dropdown.o-dropdown--no-caret {
    &:not(.o_dropdown_kanban):not(.lh-1):not(.o_kanban_config) {
        &:hover {
            border-radius: 0 0 8px 8px;
            transition: all 0.5s;
            box-shadow: inset 0 5px 0 0 $mk-appbar-active;   /* top */
        }
    }
}
// Navbar menu without dropdown
.o_nav_entry {
    &:hover{
        // border-radius: 0 0 8px 8px;
        transition: all 0.5s;
        box-shadow: inset 0 4.5px 0 0 $mk-appbar-active;   /* top */
    }
}

// Scrollable kanban column
.o_kanban_group {
    overflow-y: auto;
}