.mk_apps_sidebar_panel {
    @include mk-disable-scrollbar();
    background-color: $mk-appbar-background;
    width: var(--mk-sidebar-width, 0);
    overflow-y: auto;
	border-top: 2px solid #f4b387;
	border-right: 2px solid #f4b387;
    .mk_apps_sidebar {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
	    white-space: nowrap;
	    .mk_apps_sidebar_menu {
			margin-top: 115px;
	    	padding: 0;
		    > li > a {
		        cursor: pointer;
	            font-size: 15px;
	            font-weight: 300;
	            overflow: hidden;
				margin: 0.25rem 0.5rem 0.25rem 0.25rem;
				// margin-top: 0.25rem;
				// margin-right: 1rem;
				// margin-bottom: 0.25rem;
				// margin-left: 0.25rem;
				border-radius: 8px;
	            padding: 10px 11px;
	            text-decoration: none;
	            color: $mk-appbar-color;
	            text-overflow: ellipsis;
	            .mk_apps_sidebar_icon {
				    width: 22px;
				    height: 22px;
	    			margin-right: 5px;
				}
		    }
	        > li.active > a {
			    // background: $mk-appbar-active;
				// border: 2px solid #f4b387;
				box-shadow: inset 0 0 0 2px #f4b387;
	        }
	        > li:hover > a {
			    background: $mk-appbar-active;
				transition: all 0.3s;
				// border: 2px solid #f4b387;
				box-shadow: inset 0 0 0 2px #f4b387;
	        }
	    }
	}
}

.mk_apps_sidebar_logo {
	position: fixed;
	width: var(--mk-sidebar-width, 0);
	text-align: center;
    background-color: $mk-appbar-background;
	border-right: 2px solid #f4b387;
	img {
		height: 100px;
		overflow-y: auto;
	}
}

.mk_sidebar_type_large {
	--mk-sidebar-width: #{$mk-sidebar-large-width};
}

.mk_sidebar_type_small {
	--mk-sidebar-width: #{$mk-sidebar-small-width};
	.mk_apps_sidebar_name {
		display: none;
	}
	.mk_apps_sidebar_icon {
		margin-right: 0 !important;
	}
   	.mk_apps_sidebar_logo {
		display: none;
	}
}

.mk_sidebar_type_invisible {
	--mk-sidebar-width: 0;
}

.editor_has_snippets_hide_backend_navbar,
.o_home_menu_background,
.o_fullscreen {
	--mk-sidebar-width: 0;
}

.editor_has_snippets_hide_backend_navbar .mk_apps_sidebar_panel {
    transition: width 300ms;
}

@include media-breakpoint-only(md) {
	.mk_sidebar_type_large {
		--mk-sidebar-width: #{$mk-sidebar-small-width};
		.mk_apps_sidebar_name {
			display: none;
		}
		.mk_apps_sidebar_icon {
			margin-right: 0 !important;
		}
	   	.mk_apps_sidebar_logo {
			display: none;
		}
	}
}

@include media-breakpoint-down(md) {
	.mk_sidebar_type_large, .mk_sidebar_type_small {
		--mk-sidebar-width: 0;
	}
}
